$brighterColor: #979ca2;
$brightColor: #444951;
$slightlyBrightColor: #3f434a;
$bgColor: #282c34;
$blue: #37465c;
$lightBlue:  #566d8f;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bgColor;
  color: white;
}

input {
  color: white;
  background-color: $brightColor;
  border: none;
  padding: 5px;
  font-size: 16px;
  margin: 10px;
}

.parent {
  display: grid;
  grid-template-columns: auto 20%;
}

.input-field {
  width: 97%;
}

.messages {
  overflow-y: scroll;
  height: 90vh;
  margin-top: 10px;
  margin-left: 10px;


  .message {
    background-color: $brightColor;
    margin: 10px;

    .author {
    }

    .content {
      margin-top: 5px;
      margin-left: 20px;
    }
  }

  .own-message {
    background-color: $blue;
  }
}

.members {
  overflow-y: scroll;
  height: 90vh;
  margin-top: 10px;
  margin-right: 10px;

  .member {
    background-color: $brightColor;
    margin: 10px;
    padding: 10px;
  }

  .self {
    background-color: $blue;
  }
}

.name-set {
  background-color: red;
  padding: 40px;
  position: absolute;
  transform: translate(100%, 50%);
  z-index: 1;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $slightlyBrightColor;
}

::-webkit-scrollbar-thumb {
  background: $brighterColor;
}

::-webkit-scrollbar-thumb:hover {
  background: $lightBlue;
}