$color5: #d8dce3;
$color4: #bbbfc6;
$color3: #9aa0a4;
$color2: #5a6269;
$color1: #383c41;
$color0: #30343c;
$color-1: #23252b;
$bgColor: #282c34;
$blue: #37465c;
$lightBlue: #566d8f;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bgColor;
  color: $color5;
}

input {
  color: $color5;
  background-color: $color1;
  padding: 5px;
  border: none;
  font-size: 18px;
}

.parent {
  display: grid;
  grid-template-columns: 80% auto;
}

.text-chat {

  margin-left: 20px;
  margin-top: 10px;

  .messages {
    height: 90vh;
    overflow-y: scroll;


    .button-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 10px;

      height: 50px;

      .load-button {
        height: 100%;
        width: 100%;
        font-size: 20px;

        background-color: $color2;
        color: $color5;
        border: none;
      }
    }


    .message {
      background-color: $color1;
      margin-top: 10px;
      margin-right: 10px;
      padding: 5px;

      overflow-x: hidden;

      .author {
        display: inline-block;
        font-weight: bold;
      }

      .content {
        margin-top: 5px;
        margin-left: 20px;
      }

      .time {
        display: inline-block;
        margin-left: 10px;
        color: $color2;
      }

      &:hover {
        background-color: $color2;

        .time {
          color: $color3
        }
      }

      p {
        margin-top: 5px;
        margin-bottom: 5px;

        word-wrap: anywhere;
      }
    }

    .own-message {
      background-color: $blue;
    }
  }

  .input-field {
    width: 100%;
    margin-top: 20px;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
}

.members {
  overflow-y: scroll;
  height: 90vh;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;

  .member {
    overflow-x: hidden;
    background-color: $color-1;
    margin: 10px;
    padding: 10px;

    &:hover {
      background-color: $color2;
    }
  }

  .self {
    background-color: $blue;
  }
}

.name-set {
  background-color: red;
  padding: 40px;
  position: absolute;
  transform: translate(100%, 50%);
  z-index: 1;
}

a {
  color: #299bc7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* CORSIN-MOBILE */
@media only screen and (max-width: 600px) {
  .parent {
    grid-template-columns: auto;
  }

  .messages {
    margin-right: 10px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $color0;
}

::-webkit-scrollbar-thumb {
  background: $color3;
}

::-webkit-scrollbar-thumb:hover {
  background: $lightBlue;
}