$color5: #d8dce3;
$color4: #bbbfc6;
$color3: #9aa0a4;
$color2: #5a6269;
$color1: #383c41;
$color0: #30343c;
$bgColor: #282c34;
$blue: #37465c;
$lightBlue: #566d8f;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bgColor;
  color: $color5;
}

input {
  color: $color5;
  background-color: $color2;
  border: none;
  padding: 5px;
  font-size: 16px;
  margin: 10px;
}

.parent {
  display: grid;
  grid-template-columns: auto 20%;
}

.input-field {
  width: 97%;
}

.messages {
  overflow-y: scroll;
  height: 90vh;
  margin-top: 10px;
  margin-left: 10px;


  .message {
    background-color: $color1;
    margin: 10px;
    padding: 5px;

    .author {
      display: inline-block;
    }

    .content {
      margin-top: 5px;
      margin-left: 20px;
    }

    .time {
      display: inline-block;
      margin-left: 10px;
      color: $color2;
    }

    &:hover {
      background-color: $color2;
    }
  }


  .own-message {
    background-color: $blue;
  }
}

.members {
  overflow-y: scroll;
  height: 90vh;
  margin-top: 10px;
  margin-right: 10px;

  .member {
    background-color: $color2;
    margin: 10px;
    padding: 10px;
  }

  .self {
    background-color: $blue;
  }
}

.name-set {
  background-color: red;
  padding: 40px;
  position: absolute;
  transform: translate(100%, 50%);
  z-index: 1;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $color0;
}

::-webkit-scrollbar-thumb {
  background: $color3;
}

::-webkit-scrollbar-thumb:hover {
  background: $lightBlue;
}