$brightColor: #444951;

.input-field {
    width: 97%;
    margin: 10px;
    color: white;
    background-color: $brightColor;
    border: none;
    font-size: 16px;
    padding: 5px;
}

.messages {
    overflow-y: scroll;
    height: 90vh;

    .message {
        background-color: $brightColor;
        margin: 10px;

        .author {

        }

        .content {
            margin-top: 5px;
            margin-left: 20px;
        }
    }
}


.member {
    background-color: $brightColor;
    margin: 10px;
    padding: 10px;
}